body {
    margin: 0;
    font-family: monospace;
}

/*Aqui estaran todos los elementos centrados*/
.centro {
    text-align: center;
}

.titulo {
    background-color: rgb(255, 0, 0);
    text-align: center;
    color: white;
    font-size: large;
}

.borde-img {
    border-radius: 50%;
}

div {
    padding: 2%;
}

.menu {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 5%;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: large;
    align-items: center;
    /* alinear texto verticalmente*/
}

a:hover {
    color: rgba(255, 0, 0, 0.473);
}

.contenedor-menu {
    background-color: rgb(255, 0, 0);
    margin: 10px;
    padding-right: 35px;
    border-top-right-radius: 25px;
}

.contenedor {
    background-color: rgba(0, 26, 255, 0.055);
    padding: 75px;
    margin: 35px;
}

/*Esta es la caja que contiene los servicios*/
.caja {
    border-style: groove;
    margin: 10px;
    background-color: rgba(144, 25, 255, 0.062);
}

/* A partir de aqui empizan los proyectos */
.proyecto:hover {
    background-color: rgb(255, 0, 0);
    text-align: center;
}

.uno {
  color: #d17600;
  font-style: oblique;
}

.dos {
    color: rgba(3, 255, 125, 0.5);
    background-color: black;
    border-radius: 2vw;
}

.tres {
    color: aqua;
    font-style: unset;
    background-color: blueviolet;
    margin-left: 25px;
    border-radius: 45vw;
}

