body {
    margin: 0;
    padding: 0;
    font-family: monospace;
}

.titulo {
    background-color: rgb(255, 0, 0);
    text-align: center;
    color: white;
    font-size: large;
}

div {
    padding: 2%;
}

.menu {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 10%;
    text-decoration: none;
    color: black;
    font-size: large;
    align-items: center;/* alinear texto verticalmente*/
}

a:hover {
    color: white;
}

.contenedor-menu {
    background-color: rgb(255, 0, 0);
}